<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location information
      </div>
      <div class="item">
        <h2>Our Address</h2>
        <p>121, Clear Water Bay Road</p>
        <p>Clear Water Bay, Kowloon</p>
        <p>HONG KONG</p>
        <p>
          <i class="icon ion-android-call"> +852 1234 5678</i>
        </p>
        <p>
          <i class="icon ion-android-print"> +852 8765 4321</i>
        </p>
        <p>
          <i class="icon ion-android-mail"> <a href="mailto:confusion@food.net">confusion@food.net</a></i>
        </p>
      </div>
      <div class="button-bar icon-left">
        <a class="button button-positive icon ion-android-call"> Call</a>
        <a class="button button-calm icon ion-social-skype"> Skype</a>
        <a class="button button-balanced icon ion-android-mail"> Email</a>
      </div>
    </div>
  </ion-content>
</ion-view>
