<ion-popover-view>
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-right" ng-click="addFavorite()">
        Add Favorite
      </ion-item>
      <ion-item class="item item-icon-right" ng-click="openComment()">
        Add Comment
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
